@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "./reset.css";

:root {
    --main-color: #574b90;
    --hover-color: #786fa6;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    padding: 3em 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
}

ul {
    margin-left: 1.2em;
    list-style: square;
}

a {
    color: var(--main-color);
    text-decoration: none;
    border-bottom: 1px dotted var(--main-color);
    padding-bottom: 0.2em;
}

hr {
    width: 50%;
}

header {
    margin-bottom: 2em;
}

nav > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    font-size: 0.85em;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

nav > ul > li {
    width: 90%;
    background-color: var(--main-color);
    padding: 0.3em 0.5em;
    border-radius: 7px;
}

.lt,
.lb {
    margin-right: 0.5em;
}

.lt,
.rt {
    margin-bottom: 0.5em;
}

nav > ul > li:hover {
    background-color: var(--hover-color);
}

nav > ul > li a {
    color: white;
    border: none;
}

main {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

span {
    font-size: 0.85em;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
    }

    nav > ul > li {
        width: 100%;
    }

    nav > ul > li:not(:last-child) {
        margin-bottom: 7px;
    }

    .lt,
    .rt {
        margin: 0;
    }
}

section > div {
    margin-bottom: 2em;
}
