/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

.sidebar-bottom {
  column-gap: 10px;
}

.disqus {
  padding: 0 2em;
}

.post-content {
  h1,
  h2,
  h3 {
    font-weight: bold;
  }

  h2 {
    border-bottom: 5px solid #574b90;
    padding: 0.5em 0;
    margin: 1.5em 0;
  }

  h3 {
    border-bottom: 3px solid #596275;
    padding: 0.5em 0;
    margin: 1.5em 0;
  }

  h4 {
    margin: 1em 0;
  }

  ul,
  ol {
    line-height: 1.6;
  }
}

.post-preview {
  h1 {
    a {
      color: inherit;
    }
  }
}

#search-results a {
  color: inherit;
}

@media all and (max-width: 670px) {
  .post-content {
    h2 {
      font-size: 1.4em;
    }

    h3,
    h4 {
      font-size: 1.2em;
    }
  }
}

#panel-wrapper {
  display: none;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.disqus {
  margin-bottom: 3rem;
}
