---
layout: page
# All the Categories of posts
---

<div class="page clearfix">
  <div class="category-group">
    {% assign sorted_cats = site.categories | sort %} {% for category in
    sorted_cats %}
    <div class="category-title">
      <i
        class="
          far
          fa-folder{%
          if
          sub_categories_size
          >
          0
          %}-open{%
          endif
          %}
          fa-fw
        "
      ></i
      ><a id="{{category | first}}" href="/categories/{{category | first}}"
        >{{category | first}}</a
      ><span>{{ category[1].size }}</span>
    </div>
    {% endfor %}
  </div>
</div>
