@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    padding: 3em 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    margin-top: 1em;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
}

ul {
    margin-left: 1.2em;
    list-style: square;
}

a {
    color: #865858;
    text-decoration: none;
    border-bottom: 1px dotted #865858;
    padding-bottom: 0.2em;
}

hr {
    width: 50%;
}

header {
    margin-bottom: 2em;
}

nav > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    font-size: 0.85em;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

nav > ul > li {
    width: 90%;
    background-color: #865858;
    padding: 0.3em 0.5em;
    border-radius: 7px;
}

.lt,
.lb {
    margin-right: 0.5em;
}

.lt,
.rt {
    margin-bottom: 0.5em;
}

nav > ul > li:hover {
    background-color: #b58282;
}

nav > ul > li a {
    color: white;
    border: none;
}

main {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}

article > div {
    margin-bottom: 2em;
}
